header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 15px 30px;
    color: var(--white);
    max-height: 9vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--white);
    margin-left: 15px;
    padding: 8px 15px;
    background-color: var(--medium-blue);
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--light-blue);
}
