html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
    background: linear-gradient(135deg, var(--light-blue), var(--teal));
    color: var(--white);
}

.welcome-container h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.welcome-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.welcome-container .btn {
    padding: 12px 24px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--medium-blue);
    border-radius: 8px;
    transition: 0.3s;
}

.welcome-container .btn:hover {
    background-color: var(--dark-blue);
}
